attr
brotli
brotlicffi
chardet
ConfigParser
cryptography
docutils
en-core-web-sm
filelock
h2
HTMLParser
ipython
ipywidgets
js
keras
keyring
lightgbm
numpy
opencv-python
pandas
pillow
protobuf
pyOpenSSL
redis
requests
simplejson
scikit-learn
sentence-transformers
spacy
Sphinx
tensorflow
tf-keras
thread
tqdm
typing_extensions
urllib3
urllib3_secure_extra
zstandard
